
{% extends "./index.html"%} 
{% block title %} Agregar Inventarios {% endblock %}
<head>
 
</head>
<body>
  
  
  {% block body %}
  
<div class="nuevoP">
    <h1>Nuevo usuario</h1>
    <form  method="post" action="/user/"  >{% csrf_token %}
      <input type="text" id="name" name="name" class="Btname" placeholder="name" required>
      <input type="text" id="username" name="username" class="Btname" placeholder="usuarios" required>
      <input type="email" id="email" name="email" class="Btname" placeholder="email" required>
      <input type="password" id="password" name="password" class="Btname" placeholder="password" required>
      
      <button type="submit">Guardar</button>

    </form>
   
    {% endblock %}
</div>  
</body>
    
    
        
        
